## Python Date Time module

In [2]:
# core module
import datetime as dt

In [16]:
dir(dt)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

---
### datetime.date
* Only date

In [7]:
today = dt.date.today()
today

datetime.date(2019, 4, 12)

In [18]:
my_bday = dt.date(1992, 5, 15)

In [19]:
my_bday

datetime.date(1992, 5, 15)

#### Convert from UNIX ts

In [20]:
# 11/02/2012 @ 12:00am (UTC)
ts = 1328918400

In [21]:
my_date = dt.date.fromtimestamp(ts)

In [22]:
my_date

datetime.date(2012, 2, 11)

In [25]:
print(f'year: {my_date.year}')
print(f'month: {my_date.month}')
print(f'day: {my_date.day}')

year: 2012
month: 2
day: 11

### datetime.time
* Only time

In [34]:
zero_time = dt.time()

In [35]:
zero_time

datetime.time(0, 0)

In [39]:
t1 = dt.time(13, 22, 45, 837)

In [40]:
t1

datetime.time(13, 22, 45, 837)

In [41]:
print(f'H: {t1.hour}')
print(f'M: {t1.minute}')
print(f'S: {t1.second}')
print(f'μs: {t1.microsecond}')

H: 13
M: 22
S: 45
μs: 837

### datetime.datetime
* Combination of both date and time

In [45]:
from datetime import datetime

In [46]:
now = datetime.now()

In [50]:
now

datetime.datetime(2019, 4, 12, 11, 49, 53, 609010)

> `datetime(year, month, day, hour, minute, second, microsecond)`

In [48]:
my_dt = datetime(2009, 10, 19, 14, 55, 34, 2344)

In [49]:
my_dt

datetime.datetime(2009, 10, 19, 14, 55, 34, 2344)

In [51]:
print(my_dt)

2009-10-19 14:55:34.002344

In [54]:
print(f'year: {my_dt.year}')
print(f'month: {my_dt.month}')
print(f'day: {my_dt.day}')
print(f'hour: {my_dt.hour}')
print(f'minute: {my_dt.minute}')
print(f'second: {my_dt.second}')
print(f'microsecond: {my_dt.microsecond}')
print(f'UNIX ts: {my_dt.timestamp()}')

year: 2009
month: 10
day: 19
hour: 14
minute: 55
second: 34
microsecond: 2344
UNIX ts: 1255953334.002344

In [57]:
my_dt.time() # returns datetime.time

datetime.time(14, 55, 34, 2344)

In [58]:
my_dt.date() # returns datetime.date

datetime.date(2009, 10, 19)

In [59]:
# 03/29/2009 @ 12:34pm (UTC)
ts = 1238330084
t2 = dt.fromtimestamp(ts)

In [60]:
t2

datetime.datetime(2009, 3, 29, 15, 34, 44)

### datetime.timedelta
* time difference b/w two datetimes

In [64]:
from datetime import datetime, date, timedelta

In [62]:
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)

In [65]:
delta = t1 - t2

In [66]:
print(delta)

201 days, 0:00:00

In [68]:
today = datetime.now()
bday = datetime(1993, 5, 15, 12, 5, 0)

In [69]:
age = today - bday
print(age)

9462 days, 23:54:48.269060

In [72]:
date_diff = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)

In [74]:
print(date_diff.total_seconds())

435633.233423

### Format datetime
* `strftime()` : Convert `datetime` to `str` format
    - The `strftime()` method is defined under classes `date`, `datetime` and `time`.
* `strptime()` : Parse `str` date to `datetime` object

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Meaning</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>%a</code></td>
            <td>Weekday as locale’s abbreviated name.</td>
            <td><code>Mon</code></td>
        </tr>
        <tr>
            <td><code>%A</code></td>
            <td>Weekday as locale’s full name.</td>
            <td><code>Monday</code></td>
        </tr>
        <tr>
            <td><code>%w</code></td>
            <td>Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.</td>
            <td><code>1</code></td>
        </tr>
        <tr>
            <td><code>%d</code></td>
            <td>Day of the month as a zero-padded decimal number.</td>
            <td><code>30</code></td>
        </tr>
        <tr>
            <td><code>%-d</code></td>
            <td>Day of the month as a decimal number. (Platform specific)</td>
            <td><code>30</code></td>
        </tr>
        <tr>
            <td><code>%b</code></td>
            <td>Month as locale’s abbreviated name.</td>
            <td><code>Sep</code></td>
        </tr>
        <tr>
            <td><code>%B</code></td>
            <td>Month as locale’s full name.</td>
            <td><code>September</code></td>
        </tr>
        <tr>
            <td><code>%m</code></td>
            <td>Month as a zero-padded decimal number.</td>
            <td><code>09</code></td>
        </tr>
        <tr>
            <td><code>%-m</code></td>
            <td>Month as a decimal number. (Platform specific)</td>
            <td><code>9</code></td>
        </tr>
        <tr>
            <td><code>%y</code></td>
            <td>Year without century as a zero-padded decimal number.</td>
            <td><code>13</code></td>
        </tr>
        <tr>
            <td><code>%Y</code></td>
            <td>Year with century as a decimal number.</td>
            <td><code>2013</code></td>
        </tr>
        <tr>
            <td><code>%H</code></td>
            <td>Hour (24-hour clock) as a zero-padded decimal number.</td>
            <td><code>07</code></td>
        </tr>
        <tr>
            <td><code>%-H</code></td>
            <td>Hour (24-hour clock) as a decimal number. (Platform specific)</td>
            <td><code>7</code></td>
        </tr>
        <tr>
            <td><code>%I</code></td>
            <td>Hour (12-hour clock) as a zero-padded decimal number.</td>
            <td><code>07</code></td>
        </tr>
        <tr>
            <td><code>%-I</code></td>
            <td>Hour (12-hour clock) as a decimal number. (Platform specific)</td>
            <td><code>7</code></td>
        </tr>
        <tr>
            <td><code>%p</code></td>
            <td>Locale’s equivalent of either AM or PM.</td>
            <td><code>AM</code></td>
        </tr>
        <tr>
            <td><code>%M</code></td>
            <td>Minute as a zero-padded decimal number.</td>
            <td><code>06</code></td>
        </tr>
        <tr>
            <td><code>%-M</code></td>
            <td>Minute as a decimal number. (Platform specific)</td>
            <td><code>6</code></td>
        </tr>
        <tr>
            <td><code>%S</code></td>
            <td>Second as a zero-padded decimal number.</td>
            <td><code>05</code></td>
        </tr>
        <tr>
            <td><code>%-S</code></td>
            <td>Second as a decimal number. (Platform specific)</td>
            <td><code>5</code></td>
        </tr>
        <tr>
            <td><code>%f</code></td>
            <td>Microsecond as a decimal number, zero-padded on the left.</td>
            <td><code>000000</code></td>
        </tr>
        <tr>
            <td><code>%z</code></td>
            <td>UTC offset in the form +HHMM or -HHMM (empty string if the the object is naive).</td>
            <td><code></code></td>
        </tr>
        <tr>
            <td><code>%Z</code></td>
            <td>Time zone name (empty string if the object is naive).</td>
            <td><code></code></td>
        </tr>
        <tr>
            <td><code>%j</code></td>
            <td>Day of the year as a zero-padded decimal number.</td>
            <td><code>273</code></td>
        </tr>
        <tr>
            <td><code>%-j</code></td>
            <td>Day of the year as a decimal number. (Platform specific)</td>
            <td><code>273</code></td>
        </tr>
        <tr>
            <td><code>%U</code></td>
            <td>Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. All days
                in a new year preceding the first Sunday are considered to be in week 0.</td>
            <td><code>39</code></td>
        </tr>
        <tr>
            <td><code>%W</code></td>
            <td>Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new
                year preceding the first Monday are considered to be in week 0.</td>
            <td><code>39</code></td>
        </tr>
        <tr>
            <td><code>%c</code></td>
            <td>Locale’s appropriate date and time representation.</td>
            <td><code>Mon Sep 30 07:06:05 2013</code></td>
        </tr>
        <tr>
            <td><code>%x</code></td>
            <td>Locale’s appropriate date representation.</td>
            <td><code>09/30/13</code></td>
        </tr>
        <tr>
            <td><code>%X</code></td>
            <td>Locale’s appropriate time representation.</td>
            <td><code>07:06:05</code></td>
        </tr>
        <tr>
            <td><code>%%</code></td>
            <td>A literal '%' character.</td>
            <td><code>%</code></td>
        </tr>
    </tbody>
</table>

In [77]:
now = datetime.now()

In [ ]:
fmt = ''